html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Overpass, sans-serif;
  color: #fff;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(#ff9500, #ff5e3a);
  margin: 0;
  padding: 0;
}

header {
  padding-top: 6vmin;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  text-align: left;
  padding: 0 1rem;
}

main {
  width: 100%;
  height: 100%;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0;
  padding: 6vmin;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.icon {
  order: 1;
  width: 8rem;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
  order: 2;
  padding: 1rem 0 0;
}

p {
  font-weight: normal;
  margin: 1.5rem 0;
  order: 3;
}

a {
  padding: 1rem;
  border: .2rem solid rgba(255, 255, 255, .7);
  color: #fff;
  text-decoration: none;
  font-size: 1.125rem;
  font-style: normal;
  margin: auto 0 1.5rem;
  order: 4;
}

a:hover {
  background-color: #fff;
  color: #ff5e3a;
}

i {
  padding: 0;
  margin: 0;
}

svg {
  width: 8rem;
  height: 8rem;
  padding: 0;
  margin: 0;
}

.icon-fill {
  fill: #fff;
}

h3 {
  font-size: 1.1rem;
  font-style: normal;
}

@media only screen and (min-width: 38em) {

  section {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 6vmin;
  }

  h1 {
    text-align: center;
  }

}
